<template>
    <lightning-card>
        <lightning-card title="Create Posting Entry Record" icon-name="standard:record"></lightning-card>
        <lightning-record-form
        object-api-name={objectApiName}
        fields={fields}
        onsubmit={handleSubmit}>
    </lightning-record-form>
    </lightning-card>
   
</template>