<template>
    <lightning-card>
   
        <lightning-card title="Create Ledger Entry Record" icon-name="standard:record"></lightning-card>

        <lightning-button variant="brand" label="New Ledger Entry" title="new Ledger Entry" onclick={navigateToNewLedgerEntry}></lightning-button>
   
        <lightning-button variant="brand" label="add posting" title="new posting" onclick={navigateToNewPosting}></lightning-button>
       
        <lightning-button class="slds-m-top_small" variant="brand" type="submit" name="submit" label="Submit">
        </lightning-button>
    </lightning-card>
   
</template>