<template>
    <lightning-card title="Numerator" icon-name="action:manage_perm_sets">
        
        <p class="slds-text-align_center slds-var-m-vertical_medium">
            Prior Count: <lightning-formatted-number value={priorCount}></lightning-formatted-number>
          </p>    
        <p class="slds-text-align_center slds-var-m-vertical_medium">
          Count: <lightning-formatted-number value={counter}></lightning-formatted-number>
        </p>

        <c-controls
        class="slds-show slds-is-relative"
        onadd={handleIncrement}
        onsubtract={handleDecrement}
        onmultiply={handleMultiply}
        ondivision={handleDivision}>
      </c-controls>

      </lightning-card>
</template>