<template>
    <div class="slds-card">
        <template if:true={currencyValues.data}>
            <lightning-combobox name="progress"  value={value}
                options={currencyValues.data.values} onchange={handleChange}>
            </lightning-combobox>
        </template>
    </div>
</template>