<template>
    <div class="c-container">
        <lightning-layout multiple-rows>
                <lightning-layout-item flexibility="auto"  padding="around-small" size=12>
                    <c-custom-lookup field-label="Select Debit Account" child-object-api-name='Posting__c'
                     data-id="debitAccount" target-field-api-name='Connected_Account__c' required 
                     onvalueselected={handleDebitSelect} ></c-custom-lookup>  
                   
            </lightning-layout-item>   

            <lightning-layout-item flexibility="auto" padding="around-small" size=12>
                    <c-custom-lookup field-label="Select Credit Account" child-object-api-name='Posting__c' label='Credit' 
                    data-id="creditAccount" target-field-api-name='Connected_Account__c' required 
                    onvalueselected={handleCreditSelect}></c-custom-lookup>
            </lightning-layout-item> 
        </lightning-layout>
         </div>

            <div class="slds-card">
                <lightning-input
                    name="Amount in original currency" label="Amount in original currency" onchange={handleChange}
                    data-id = "originalCurrAmount" id="originalCurrAmount"
                ></lightning-input>
                
        
                <c-currency-pick-list
                    field-label="Select Original Currency" label='Original Currency' onchange={handleSelect}
                    data-id = "originalCurrency">
                </c-currency-pick-list> 
                
             </div>

             <div class="slds-card">
                <lightning-input
                    name="Amount in settlement currency" label="Amount in settlement currency" onchange={handleChange}
                    data-id = "sttlCurrAmount" id="sttlCurrAmount"
                ></lightning-input>
                
        
                <c-currency-pick-list
                    field-label="Select Settlement Currency"  label='Settlement Currency' onchange={handleSelect}
                    data-id = "sttlCurrency">
                </c-currency-pick-list> 
               
             </div>

             <lightning-card label='exchange rate'>
                <lightning-input
                label="Exchange Rate"
                value={exchangeRate}
                disabled
                ></lightning-input>
             </lightning-card>

        <lightning-card title="Payment Details">
            <lightning-card>
                <div class="slds-card">
                    <lightning-input type="text" label="Bank Reference" onchange={handleChange} data-id="bankRef"
                    id="bankRef"></lightning-input>
                </div>
             </lightning-card>
            <lightning-card>
                <lightning-input type="datetime" name="dateInput" label="Enter a date/time value" onchange={handleChange} 
                data-id="paymentDate"></lightning-input>
              
            </lightning-card>
        </lightning-card>

        <lightning-card title="General">
            <lightning-card>
                <div class="row">
                    <lightning-textarea name="description" label="Description" placeholder="type here..."
                     onchange={handleChange} data-id="description" id="description"></lightning-textarea>
                </div>
             </lightning-card>
        </lightning-card>

   

    <lightning-button variant="brand" type="submit" name="save" label="Save" onclick={createJE}></lightning-button>
</template>